[variables]
NODE_ENV = "production"

[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = [
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = [
  "pnpm run contracts:generate",
  "pnpm run build:packages",
  "pnpm --filter @monomarket/api run build"
]

[start]
cmd = "pnpm --filter @monomarket/api run start:deploy"
